@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body>div#root {
    display: flex;
    flex-direction: column;
    flex: auto;
    min-height: 100vh;
}

div#root>main.content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}